
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #f3f4f6; /* Fallback */
    background-image: 
        radial-gradient(#e5e7eb 1px, transparent 1px), 
        radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

.dark body {
    background-color: #111827;
    background-image: 
        radial-gradient(#1f2937 1px, transparent 1px), 
        radial-gradient(#1f2937 1px, transparent 1px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Animations */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}

@keyframes path-dash {
  to {
    stroke-dashoffset: 0;
  }
}

.path-line {
  stroke-dasharray: 10;
  stroke-dashoffset: 100;
  animation: path-dash 2s linear infinite;
}
